<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    {% endblock %}
  </head>
  <body>
        <nav>
          <a href="/">Home</a>
          {% if current_user_email %}
          <a href="/progress">Progress</a>
          <a href="/logout">Logout</a>
          <span>{{ current_user_email }}</span>
          {% else %}
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          {% endif %}
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
